@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0 10%;
  font-family: "Montserrat", sans-serif;
  display: block;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 10%;
  position: sticky;
  top: 0;
  background-color: white;
}

.logo {
  cursor: pointer;
}
#nav-bar {
  display: flex;
}
.nav-link {
  list-style: none;
  display: inline-block;
  padding: 0 1.2em;
}

#nav-bar li a {
  transition: all 0.3s ease 0s;
  text-decoration: none !important;
}
#nav-bar li a:hover {
  color: #0088a9;
}

#features {
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
}
@media only screen and (min-width: 800px) {
  .container {
    flex-wrap: nowrap;
  }
}
.item {
  align-self: stretch;
}
#video {
}
.video-description {
  padding: 2rem;
}
.item-video {
}

#cta {
  text-align: center;
}
#form {
}
.form {
}
.hidden {
  display: none;
}
#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 10%;
}
.footer-logo {
  cursor: pointer;
}
.footer-nav {
  display: flex;
}
.footer-nav ul {
  list-style: none;
  display: inline-block;
  padding: 0 1.2em;
}

#nav-bar li a {
  transition: all 0.3s ease 0s;
  text-decoration: none !important;
}
#nav-bar li a:hover {
  color: #0088a9;
}
.copyright {
}
